body {
    font-family: 'Poppins'; letter-spacing: 1.5px; color: black !important;
    margin-top: 0;
    position: relative;
    font-weight: bold;
}

a {
    color: white;
    text-decoration-style: none;
}

#form{
	margin-left: 20px;
	margin-right: 100px;
	margin-bottom: 100px;
}