body {
    font-family: 'Poppins'; letter-spacing: 3px; color: black !important;
    margin-top: 0;
    position: relative;
}

a {
    color: white;
    text-decoration-style: none;
}

.navbar {
    color: white !important;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 10;
    width: 100%;
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.navbar .navbar-toggler-icon {
    background-image: url("icon.png") !important;
}

video {
    position: fixed;
    z-index: 0;
    min-height: 110vh !important;
    max-height: 110vh !important;
    margin: 0;
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    filter: blur(0px);
    margin-left: -50%;
    transform: scale(1.0);
}

.darken {
    position: fixed;
    opacity: 0.7;
    z-index: 1;
}

#s1 {
    position: absolute;
    z-index: 3;
    margin-left: 150px;
    margin-top: 350px;
}

h1 {
    color: white;
    position: relative;
    letter-spacing: 12px;
    text-transform: uppercase;
}

#searchbar {
    position: relative;
    width: 600px;
    margin-top: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 0px;
}

.input-group-addon {
    border-radius: 0px;
    background-color: rgb(26, 26, 26);
    color: white;
}

.carousel {
    position: fixed !important;
    z-index: 0;
    min-height: 100vh !important;
    min-width: 100vw;
}

#s2 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 360px;
    z-index: 3;
}

#s3{
  margin-top:60px;
}
#nav{
  position: relative;
}
#div0{
  margin-top:30px;
}
#buttons {
    text-align: center;
    width: 50%;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 4;
}

.btn {
    width: 200px;
    margin: 10px;
    border-radius: 0px;
    border: none;
    background-color: rgba(26, 26, 26, 0.9);
    color: white;
}

#items {
    position: relative;
}

#items h1 {
    color: black;
}

#fadeIn  {
font-family: 'Poppins';font-size: 22px;
}

body  {
    background-image: url("city.jpg");;
}
h1 {
    font-family: 'Poppins';font-size: 30px; font-color:white; !important;

}
h3 {
    font-family: 'Poppins';font-size: 22px; color: white;
}

footer{
  margin-top:100px;
  min-height: 150px;
  color: black;
  min-width:100vw;
}

footer #footer-nav {
    background-color: white; opacity: 0.6;
    min-height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer ul li {
    font-size: 13px;
    line-height: 35px;
    color:black;
    font-family: "Poppins", Palatino, serif;
}

footer #footer-nav a {
    color: black;
    font-weight: 500;
    font-family: "Poppins", Palatino, serif;
}
p {
    font-size: 22px;
}
