body {
    font-family: 'Poppins'; letter-spacing: 1.5px; color: black !important;
    margin-top: 0;
    position: relative;
    font-weight: bold;
}

a {
    color: white;
    text-decoration-style: none;
}

#form{
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 100px;
}

#jumbo{
    background-image: url("members.jpg") !important;
    background-attachment: relative;
    height: 100vh;
    padding: 20%;
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

body  {
    background-image: url("contactus.jpg");
    background-attachment: fixed;
}

.navbar {
    color: white !important;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 10;
    width: 100%;
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.navbar .navbar-toggler-icon {
    background-image: url("icon.png") !important;
}

#nav{
  position: relative;
  z-index:1001; /*navbar on top layer*/
}
